.titleContainer {
  background-color: #fcdada;
  .imageStyle {
    cursor: pointer;
  }
}

.tableContainer {
  position: relative;
  width: 1066px;
  height: 626px;
  border-radius: 16px;
  background-color: #fff;
  overflow-y: scroll;
}

.ant-modal .ant-modal-content {
  background-color: #fcdada;
}
