body{
    .btn { 
        font-family: "Poppins" !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        &.btn-icon {
            border-radius: 10px;
            width: 24px;
            height: 24px;
        }
        &.btn-primary {
            border-radius: 10px;
            background-color: $theme;
            border: $theme;
            &:hover, &:focus, &:active {
                background-color: $themehover !important;
            }
        }
        &.btn-outline-primary {
            border-radius: 10px;
            background-color: rgba($color: #FFE8AE, $alpha: 5.0);
            border-color: $theme;
            color: $theme;
            &:hover, &:focus, &:active {
                background-color: $theme !important;
                color: $white;
                border-color: $theme;
            }
            &.btn-consult {
                background-color: transparent;
                border-radius: 10px;
            }
        }
        &.load-more {
            border-radius: 10px;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            height: 38px;
        }
        &.btn-primary1 {
            border-radius: 10px;
            border: 1px solid $theme !important;
            span {
                color: $theme !important;
                font-size: 14px;
                font-weight: 500;
            }
            &:hover {
                background-color: $theme !important;
                span {
                    color: $white !important;
                }
            }
        }
        &.btn-primary2 {
            border-radius: 10px;
            border: 1px solid $bordercolor !important;
            height: 33px;
            background-color: $white;
            .ant-btn-icon {
                line-height: 1;
            }
            span {
                font-family: 'Poppins';
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.1px;
                color: $theme !important;
                font-size: 14px;
                font-weight: 500;
            }
            i {
                color: $theme !important;
            }
            &:hover {
                background-color: $theme !important;
                border-color: $theme !important;
                span {
                    color: $white !important;
                }
                i {
                    color: $white !important;
                }
            }
        }
        &.btn-primary3 {
            border-radius: 10px;
            background-color: $theme;
            height: 33px;
            .ant-btn-icon {
                line-height: 1;
            }
            span {
                font-family: 'Poppins';
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.1px;
                color: $white !important;
                font-size: 14px;
                font-weight: 500;
            }
            i {
                color: $white !important;
            }
            &:hover, &:focus, &:active {
                background-color: $themehover !important;
            }
        }
        &.btn-text {
            span {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline;
            }
            &:hover {
                color: $theme;
                span {
                    color: $theme !important;
                }        
            }
        }
        &.btn-41 {
            height: 41px;
        }
        &.btnclose {
            i {
                color: $grayColor;
                font-size: 24px;
            }
            &:hover {
                i {
                    color: $welcomecolor;
                }
            }
        }
    }
    .btn-group {
        .btn {
            &.btn-outline-light {
                border-color: $bordercolor;
                &.dateoutline {
                    &:first-child{
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    &:last-child{
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
    .ant-btn {
        padding: 5px 15px;
    }
    .ant-dropdown-trigger {
        &:focus, &:active, &:hover {
            border-color: transparent !important;
        }
    }
    .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
        border-color: transparent;
    }
    .btn-parameters {
        color: $theme;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1px;
        border: 1px solid $bordercolor;
        border-radius: 20px;
        background-color: $white;
        padding: 14px;
        &:hover, &:focus {
            background-color: $theme !important;
            color: $white !important;
            border-color: $bordercolor;
        }
    }
}