body{
    .btn { 
        font-family: "Poppins" !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        &.btn-icon {
            border-radius: 10px;
            width: 24px;
            height: 24px;
        }
        &.btn-primary {
            border-radius: 10px;
            background-color: $theme;
            border: $theme;
            &:hover, &:focus, &:active {
                background-color: $themehover !important;
            }
        }
        &.btn-outline-primary {
            border-radius: 10px;
            background-color: rgba($color: #FFE8AE, $alpha: 5.0);
            border-color: $theme;
            color: $theme;
            &:hover, &:focus, &:active {
                background-color: $theme !important;
                color: $white;
                border-color: $theme;
            }
            &.btn-consult {
                background-color: transparent;
                border-radius: 10px;
            }
        }
        &.load-more {
            border-radius: 10px;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            height: 38px;
        }
    }
    .btn-group {
        .btn {
            &.btn-outline-light {
                border-color: $bordercolor;
                &.dateoutline {
                    &:first-child{
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    &:last-child{
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
    .ant-btn {
        padding: 5px 15px;
    }
    .ant-dropdown-trigger {
        &:focus, &:active, &:hover {
            border-color: transparent !important;
        }
    }
    .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
        border-color: transparent;
    }
}