* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #eee;
}

*::-webkit-scrollbar-thumb {
    background-color: #b0aef7;
    border-radius: 20px;
}
body {
    font-family: 'Poppins' !important;
    color: $maincolor;
    a {
        text-decoration: none;
    }
    .wrapper {
        height: calc(100vh - 56px);
        overflow-y: auto;
    }
    .wrapper2 {
        height: calc(100vh - 60px);
        overflow-y: auto;
    }
    .title-common {
        font-family: 'Poppins' !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.1px;
    }
    .title {
        color: $welcomecolor !important;
        font-family: 'Poppins' !important;
        font-weight: 500;
    } 
    .text-primary {
        color: $theme !important;
    }
    .fs-21 {
        font-size: 21px;
    }
    .small, small {
        font-size: .800em;
    }
    .backbar {
        color: $grayColor !important;
        font-weight: 500;
    }
    .highlighted {
        color: #FF974A !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    table, p, div, span, tr, th, td{
        font-family: 'Poppins' !important;
        color: $maincolor !important;
    }
    .bg-body {
        background-color: $bgbody !important;
    }
    .ant-tooltip {
        --antd-arrow-background-color: rgba(255, 255, 255, 0.85);
        .ant-tooltip-inner {
            background-color: rgba(255, 255, 255, 0.85);
        }
    }
    input {
        font-family: 'Roboto', sans-serif !important;
    }
   .pt-2px {
        padding-top: 2px;
    }
    .rounded-10px {
        border-radius: 10px;
    }
    .rounded-20px {
        border-radius: 20px;
    }
    // Library common scss
    .ant-select-dropdown {
        padding: 15px;
        .ant-select-item {
            padding: 0px;
        }
    }
    .ant-segmented { border-radius: 10px;
        .ant-segmented-item {
            background-color: $white;
            border-radius: 10px;
            &.ant-segmented-item-selected, &:hover {
                background-color: $theme;
                &:first-child{
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                }
                &:last-child{
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }
                i {
                    color: $white !important;
                }
            }
        }
        .ant-segmented-item-label {
            .ant-segmented-item-icon {
                i {
                    font-size: 20px;
                    line-height: 1.6;
                }
            }
        }
    }
}