// Popins Fonts
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/popins/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-ExtraBold.woff2') format('woff2'),
    url('../fonts/popins/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-Light.woff2') format('woff2'),
    url('../fonts/popins/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-Italic.woff2') format('woff2'),
    url('../fonts/popins/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-ExtraLight.woff2') format('woff2'),
    url('../fonts/popins/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-Black.woff2') format('woff2'),
    url('../fonts/popins/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/popins/Poppins-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/popins/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/popins/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/popins/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/popins/Poppins-Thin.woff2') format('woff2'),
    url('../fonts/popins/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

// Roboto Fonts
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

// Print setting Fonts

@font-face {
  font-family: 'Arial';
  src: url('../fonts/print-fonts/Arimo-Regular.ttf') format('ttf'),
    url('../fonts/print-fonts/Arimo-Medium.ttf') format('ttf'),
    url('../fonts/print-fonts/Arimo-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times-Roman';
  src: url('../fonts/print-fonts/EBGaramond-Regular.ttf') format('ttf'),
    url('../fonts/print-fonts/EBGaramond-Medium.ttf') format('ttf'),
    url('../fonts/print-fonts/EBGaramond-Bold.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verdana';
  src: url('../fonts/print-fonts/Jost-Regular.ttf') format('ttf'),
    url('../fonts/print-fonts/Jost-Medium.ttf') format('ttf'),
    url('../fonts/print-fonts/Jost-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/print-fonts/OpenSans-Regular.ttf') format('ttf'),
    url('../fonts/print-fonts/OpenSans-Medium.ttf') format('ttf'),
    url('../fonts/print-fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/print-fonts/Vazirmatn-Regular.ttf') format('ttf'),
    url('../fonts/print-fonts/Vazirmatn-Medium.ttf') format('ttf'),
    url('../fonts/print-fonts/Vazirmatn-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


// Iconmoon Icons Fonts 

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/iconmoon/icomoon.eot?x8pv6e');
  src: url('../fonts/iconmoon/icomoon.eot?x8pv6e#iefix') format('embedded-opentype'),
    url('../fonts/iconmoon/icomoon.ttf?x8pv6e') format('truetype'),
    url('../fonts/iconmoon/icomoon.woff?x8pv6e') format('woff'),
    url('../fonts/iconmoon/icomoon.svg?x8pv6e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 23px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconrotate180 {
  transform: rotate(180deg);
  display: inline-block;
}
.iconrotatehistory90 {
  transform: rotate(90deg);
  margin-left: -1px;
  margin-top: -4px;
}
.iconrotate270 {
  transform: rotate(270deg);
  display: inline-block;
}

.icon-analytics:before {
  content: "\e902";
}

.icon-billings:before {
  content: "\e903";
}

.icon-calendar:before {
  content: "\e900";
}

.icon-patients:before {
  content: "\e901";
}

.icon-setting:before {
  content: "\e905";
}

.icon-notification:before {
  content: "\e906";
}

.icon-Cancelled:before {
  content: "\e904";
}

.icon-Finished:before {
  content: "\e907";
}

.icon-Queue:before {
  content: "\e908";
}

.icon-List:before {
  content: "\e909";
}

.icon-More:before {
  content: "\e90a";
}

.icon-Add:before {
  content: "\e90b";
}

.icon-Contract:before {
  content: "\e90c";
}

.icon-Expand:before {
  content: "\e90d";
}

.icon-Print:before {
  content: "\e90e";
}

.icon-Visit-Summary:before {
  content: "\e90f";
}

.icon-Medical-Certificate:before {
  content: "\e910";
}

.icon-Discharge-Summary:before {
  content: "\e911";
}

.icon-Report:before {
  content: "\e912";
}

.icon-Edit:before {
  content: "\e913";
}

.icon-right:before {
  content: "\e914";
}

.icon-reload:before {
  content: "\e915";
}

.icon-search:before {
  content: "\e916";
}

.icon-Preview:before {
  content: "\e917";
}

.icon-Consult:before {
  content: "\e918";
}

.icon-Cross:before {
  content: "\e919";
}

.icon-phone:before {
  content: "\e91a";
}

.icon-Id:before {
  content: "\e91b";
}

.icon-save:before {
  content: "\e91c";
}

.icon-template:before {
  content: "\e91d";
}

.icon-camera:before {
  content: "\e91e";
}

.icon-minus:before {
  content: "\e91f";
}

.icon-delete:before {
  content: "\e920";
}

.icon-download:before {
  content: "\e921";
}

.icon-exit:before {
  content: "\e922";
}

.icon-language:before {
  content: "\e923";
}

.icon-check:before {
  content: "\e924";
}

.icon-info:before {
  content: "\e925";
}

.icon-calendarfill:before {
  content: "\e926";
}

.icon-sorting:before {
  content: "\e927";
}

.icon-filter:before {
  content: "\e928";
}

.icon-Visit-Summary-Fill:before {
  content: "\e929";
}

.icon-switch:before {
  content: "\e92a";
}

.icon-upload:before {
  content: "\e92b";
}
.icon-announcement:before {
  content: "\e92c";
}

.icon-help:before {
  content: "\e92d";
}
.icon-upgrade:before {
  content: "\e92e";
}
.icon-group:before {
  content: "\e92f";
}
.icon-profile:before {
  content: "\e930";
}
.icon-certificate-profile:before {
  content: "\e931";
}
.icon-New-Window:before {
  content: "\e932";
}
.icon-eraser1:before {
  content: "\e933";
}
.icon-copyIcon:before {
  content: "\e934";
}