.modalcommon {
    .ant-modal-content {
        padding: 0;
        border-radius: 20px;
        .ant-card-head {
            min-height: 70px;
            .ant-card-head-title {
                color: $welcomecolor !important;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0.1px;
            }
        }
        .ant-card {
            border-radius: 20px;
        }
    }
}