.modalcommon {
    .ant-modal-content {
        padding: 0;
        border-radius: 20px;
        .ant-card-head {
            min-height: 70px;
            .ant-card-head-title {
                color: $welcomecolor !important;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0.1px;
            }
        }
        .ant-card {
            border-radius: 20px;
        }
    }
}
body {
    .ant-drawer {
        .ant-drawer-header {
            padding: 12px 20px;
            .ant-drawer-close {
                margin-inline-end: 10px;
                font-size: 20px;
                padding: 0;
            }
            .ant-drawer-title {
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0.1px;
            }
        }
        .ant-drawer-body {
            padding: 0;
            background-color: $bgbody;
            .tab-template-height {
                height: calc(100vh - 120px);
                overflow-y: auto;
            }
            .medicine-templates {
                &:hover {
                    background-color: $white;
                }
            }
        }
        .ant-drawer-content{
            &.tamplatemodal-width{
                width: 563px !important;
            }
        }
        .ant-card{
            &.search-modalCard {
                border-radius: 0;
                box-shadow: none;
                .ant-card-body {
                    padding: 0;
                    height: 100%;
                }
                .modalCard-header {
                    height: 74px;
                    border-bottom: 1px solid $bordercolor;
                    background-color: $white;
                }
                .modalcard-body {
                    height: calc(100vh - 74px);
                    overflow-y: auto;
                    .selectedchip-header {
                        height: 60px;
                        background-color: $drawerHeaderColor;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 36px;
                        letter-spacing: 0.1px;
                        color: $maincolor !important;
                    }
                }
            }
        } 
        .searchdrawer-content {
            .ant-card {
                background: $bgbody !important;
            }
        }
    }
}