body{
    table tbody tr {
        th {
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
        }
        td {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.1px;
            &:first-child {
                span {
                    color: $theme !important;
                }
            }
        }
    }
}