$grayColor: #A2A2A8;
$white: #fff;
$theme: #4B4AD5;
$alerText: #FC5A5A;
$main2: #44444F;
$maincolor: #454551;
$welcomecolor: #171725;
$br-theme: 6px;
$boxshadowtheme: 0px -1px 0px 0px #E2E2EA inset;
$boxshadowsidebar: -1px 0px 0px 0px #E2E2EA inset;
$bgbody: #FAFAFB;
$drawerHeaderColor: #F1F1F5;
$themelight: #f3fbfb;
$boxBgLight: #4B4AD508;
$themehover: #3030c2;
$themesecondary: #A461D8;
$themesecondarylight: #BA7DE9;
$darkthemesecondary: #f5d244;
$bordercolor: #E2E2EA;
$descpadcolor: #EDDFF7;
$historytext: #475467;
$colorFitness: #F6F0FC;
$priceColor: #1B223C;

:export {
    grayColor: $grayColor;
}