@import 'variables.scss';

.rounded-18 {
    border-radius: 18px !important;
}
.website-wrapper {
    padding: 24.88px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    &:after {
        position: absolute;
        content: "";
        border-radius: 442.775px;
        opacity: 0.4;
        background: var(--S-Icon-100, $themesecondary);
        filter: blur(124.375px);
        width: 442.775px;
        height: 442.775px;
        left: -45px;
        top: -280px;
        z-index: -1;
    }
    &:before {
        position: absolute;
        content: "";
        border-radius: 442.775px;
        opacity: 0.4;
        background: #FED15E;
        filter: blur(124.375px);
        width: 442.775px;
        height: 442.775px;
        right: -120px;
        bottom: -169px;
        z-index: -1;
    }

    // Header Section
    .website-header {
        background-color: $white;
        padding: 8.292px 8.292px 8.292px 16.583px;
        border-radius: 16.583px;
        background-color: rgba(255, 255, 255, 0.40);
        border: 0.829px solid var(--T-BG-10, $drawerHeaderColor);
        backdrop-filter: blur(11.388888359069824px);
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            li {
                a {
                    padding: 10px;
                    color: $welcomecolor;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }

    // Banner Section
    .website-banner {
        position: relative;
        .ant-row {
            height: 100%;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            .ant-col {
                &:first-child {
                    position: relative;
                    &:after {
                        position: absolute;
                        content: "";
                        border-radius: 100px;
                        background: #FFE8AE;
                        width: 111.526px;
                        height: 111.526px;
                        left: 31%;
                        top: -7px;
                        z-index: -1;
                        opacity: 0.5;
                    }
                }
            }
        }

        .hi {
            font-size: 28px;
            font-weight: 400;
        }

        .doctor-name {
            font-size: 48px;
            font-weight: 500;
            line-height: normal;
        }
        .location-contact {
            display: flex;
            align-items: center;
            border: 1px solid $bordercolor;
            border-radius: 6px;
            padding: 6px 10px;
            img {
                margin-right: 10px;
            }
            &:first-child {
                margin-right: 10px;
            }
        }
        .round-pink {
            position: absolute;
            content: "";
            border-radius: 100px;
            background: #EDDFF7;
            width: 111.526px;
            height: 111.526px;
            right: -45px;
            top: 160px;
            z-index: -1;
        }
        .square-yellow {
            position: absolute;
            content: "";
            border-radius: 33.167px;
            transform: rotate(-30deg);
            background: #FED15E;
            width: 111.526px;
            height: 111.526px;
            left: 250px;
            bottom: 180px;
            z-index: -1;
        }
        .doctor-photo {
            width: 440px;
            height: 468px;
            margin: 120px 0;
            margin-left: auto;
            background-color: #D9D9D9;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            clip-path: path("M86.6177 40.0625C86.6177 17.9711 104.526 0.0625 126.618 0.0625H399.451C421.543 0.0625 439.451 17.9711 439.451 40.0625V303.508C439.451 325.599 421.543 343.508 399.451 343.508H395.047C372.955 343.508 355.047 361.416 355.047 383.508V427.713C355.047 449.804 337.138 467.712 315.047 467.712H40.8223C18.7309 467.712 0.822266 449.804 0.822266 427.713V165.267C0.822266 143.175 18.7309 125.267 40.8223 125.267H46.6177C68.7091 125.267 86.6177 107.358 86.6177 85.2667V40.0625Z");
        }
    }
}