.sub-header {
    display: flex;
    height: 200px;
    padding: 32px;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0 0 12px 12px;
    background: linear-gradient(113deg, #603795 0.54%, #3A225D 15.46%, #2F1D58 30.38%, #241852 45.3%, #131038 60.5%, #121229 75.14%, #10101E 100%), #FFF;
    justify-content: space-between;

    .sub-header-content {
        align-self: stretch;
        color:  #FFF !important;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
}
