.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  border: 0 !important;
}

.growth-chart-type {
  height:  35px;
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
  background: #A461D81A;
  color: #A461D8 !important;
  margin-right: 10px;
}
