.billing-dashboard-wraper {
    .btn-manage-bill {
        cursor: pointer;
        display: flex;
        height: 41px;
        padding: 10px 24px;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid var(--P-CTA-100, #4B4AD5);
        background: var(--S-BG-50, #FFE8AE);

        &:hover,
        &:focus
        {
            background-color: var(--S-BG-50, #FFE8AE) !important;
            border: 1px solid var(--P-CTA-100, #4B4AD5);
        }

        span {
            color: #4B4AD5 !important;
        }
    }

    .btn-create-bill {
        cursor: pointer;
        display: flex;
        height: 41px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--P-CTA-100, #4B4AD5);

        &:hover,
        &:focus
        {
            background: var(--P-CTA-100, #4B4AD5) !important;
        }

        span {
            color: white !important;
        }
    }
}