.ipd-toolbar-edit-custom-print-download {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 100;
}
.ipd-adm-assess-container-readable {
    width: 100% ;
}

.ipd-progress-notes-view-container {
    width: 100%;
    overflow: auto;
    height: calc(100dvh - 161px);
}