.ipd-toolbar-edit-custom-print-download {
  position: fixed;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  z-index: 100;
  width: fit-content;
  max-width: calc(100vw - 24px);
}
.ipd-toolbar-edit-custom-print-download-discharge {
  &:not(.no-edit) {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
.ipd-adm-assess-container-readable {
  width: 100%;
}

.ipd-progress-notes-view-container {
  width: 100%;
  // overflow: auto;
  // height: calc(100dvh - 161px);
}
.pd-ipd-right-content {
}
.pd-ipd-right-content:has(.ipd-discharge-summary-container-readable) {
  overflow: hidden !important;
}
.patient-details-form-loader {
  height: calc(100dvh - 146px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
