.payment-mode {
  &.ant-select {
    .ant-select-selector {
      border-radius: 10px 0px 0px 10px !important;
      width: 165px;
      height: 48px;
    }
    .ant-select-arrow {
      top: 72%;
    }
  }
}

.payment-input {
  &.ant-input-affix-wrapper {
    border-radius: 0px 10px 10px 0px !important;
    height: 48px;
  }
}

.create-bill-table {
  .ant-table-cell {
    padding: 4px !important;
  }
}
