.graphHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .percentileBtn {
    border: none;
    box-shadow: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    .iconStyle {
      display: inline-block;
      transform: rotate(270deg);
    }
  }

  .percentileBtn:hover {
    color: #4b4ad5 !important;
  }

  .percentileBtn:focus {
    color: #4b4ad5;
    outline: none;
  }
  .enablePercentile {
    position: absolute;
    background: #ffffff;
    width: 270px;
    min-height: 180px;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    right: 135px;

    .percentileText {
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      padding-bottom: 12px;
    }

    .percentileContainer {
      border: 1px solid #eaecf0;
      border-radius: 4px;
      padding: 10px;

      .breakStyle {
        height: 11px;
        border: 1px solid #eaecf0;
        margin-right: 4px;
      }
    }

    .doneBtn {
      height: 34px !important;
      width: 100%;
      padding: 4px 8px 4px 8px;
      border-radius: 6px;
      margin-top: 12px;

      .doneText {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.tooltipStyle {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  min-height: 152px;
  min-width: 300px;
  position: absolute;
  pointer-events: none; /* Ensures popup doesn't interfere with clicking */

  .measurementContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .measurementText {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;

      .iconStyle {
        color: #4b4ad5;
        cursor: pointer;
        font-size: 18px;
        margin-left: 5px;
      }
    }

    .closeImg {
      cursor: pointer;
    }
  }
}
.breakStyle {
  height: 11px;
  border: 1px solid #eaecf0;
  margin-right: 4px;
}
