.billing-table-wrapper {
  :where(.css-dev-only-do-not-override-1okl62o).ant-select-single {
    height: 36px !important;
    width: 200px !important;
  }

  .card-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    gap: 1.5rem;
    width: 100%;
  }

  .inputheight38 {
    width: 20rem;
  }

  .card {
    width: 25%;
    padding: 15px;
    border: 0.2px solid var(--T-Text-10, #E2E2EA) !important;
    border-radius: 16px !important;
    text-align: center;
    transition: 0.3s ease;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.18);
    cursor: pointer;
  }

  .card.selected {
    border-radius: 16px;
    border: 2.5px solid var(--P-CTA-100, #4B4AD5) !important;
    background: var(--T-White-100, #FFF);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06), 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  }

  .card-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--dynamic-color) !important;
  }

  .card-amount {
    color: var(--T-Text-80, #454551);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
  }

  .card.selected .card-title {
    color: #4a50e0;
    /* Customize the title color when selected */
  }

  .card.selected .card-amount {
    color: #4a50e0;
    /* Customize the amount color when selected */
  }

  .billing-table {

    .ant-table-body {
      max-height: 300px !important; /* Set your desired height */
      overflow-y: auto !important;  /* Enable vertical scrolling */
    }
    .ant-table thead.ant-table-thead th,
    body .ant-table thead.ant-table-thead td {
      padding: 8px 16px !important;
    }
  }

  .billing-download {
    padding: 6px;
    border-radius: 10px;
    background: rgba(75, 74, 213, 0.08);
  }

  .status-paid-fully {
    display: inline-flex;
    /* Makes the container fit the content */
    padding: 4px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    background: var(--Colour-Green-Green---10, #EDF7ED);
    color: #3D8C40 !important;
  }

  .status-due {
    display: inline-flex;
    padding: 4px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    background: var(--Colour-Yellow-Yellow---20, #FDF7D7);
    color: #ED8A00 !important;
  }

  .status-carriedforrward {
    display: inline-flex;
    padding: 4px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    background: var(--Colour-Yellow-Yellow---20, #FDF7D7);
    color: #ED8A00 !important;
    text-decoration: line-through;
  }

  .status-refunded {
    display: inline-flex;
    padding: 4px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    background: var(--Colour-Red-Red---10, #FCEDED);
    color: #B73A3A !important;
  }

  :where(.css-dev-only-do-not-override-1okl62o).ant-modal {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    pointer-events: none;
    position: absolute;
    /* top: 100px; */
    width: 250px !important;
    max-width: calc(100vw - 32px);
  }

  .color-paid{
    color: #3D8C40 !important;
  }
  .color-due{
    color: #ED8A00 !important;
  }
  .color-refunded{
    color: #B73A3A !important;
  }
}