/* TipCarousel.module.css */
.wrapper {
    width: 100%;
    padding: 2rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .slideContainer {
    // width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }
  
  .slideTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
    // width: 100%;
  }
  
  .slide {
    // min-width: 100%;
    padding: 0 1rem;
  }
  
  .card {
    background-color: rgb(245, 243, 255);
    padding: 1.5rem;
    border-radius: 1.5rem;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    height: 12rem;
    transition: opacity 0.3s ease;
  }
  
  .cardHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .iconCircle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(245, 243, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconCircle span {
    color: rgb(124, 93, 250);
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .title {
    color: rgb(124, 93, 250);
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
  }
  
  .description {
    color: rgb(71, 84, 103);
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0;
  }
  
  .navButton {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: white;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    color: rgb(71, 84, 103);
    transition: all 0.2s ease;
  }
  
  .navButton:hover {
    background-color: rgb(249, 249, 249);
    transform: scale(1.05);
  }
  
  .prevButton {
    left: 0;
  }
  
  .nextButton {
    right: 0;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
  }
  
  .indicator {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background: rgb(230, 225, 255);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .activeIndicator {
    width: 1.5rem;
    background: rgb(124, 93, 250);
  }
  
  @media (max-width: 640px) {
    .wrapper {
      padding: 1rem;
    }
    
    .card {
      height: auto;
      min-height: 12rem;
    }
  }