.button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 15px;
    background: white;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 20px rgba(147, 51, 234, 0.1);
    transition: all 0.2s ease;
    background-clip: padding-box;
    height: 41px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(to right, #D8B4FE, #818CF8);
  }
  
  .button:hover {
    box-shadow: 0 4px 25px rgba(147, 51, 234, 0.2);
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
  }
  
  .icon {
    color: white;
    width: 16px;
    height: 16px;
  }
  
  .text {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    background: linear-gradient(to right, #9333EA, #6366F1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }