.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.backgroundContainer {
  position: relative;
  background: white; /* Fallback background */
  padding: 20px;
  border-radius: 20px; /* Rounded corners */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent pseudo-element overflow */
  z-index: 1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Optional shadow */
  height: calc(100dvh - 270px);
  position: relative;
}

.backgroundContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Match the container's border radius */
  background: url('../assets/images/gen-rx-bg.gif') no-repeat center center;
  background-size: cover; /* Ensure the GIF scales properly */
  padding: 4px; /* Thickness of the border */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0); /* Mask inner area */
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1; /* Place the border behind the content */
}

.backgroundContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Match the container's border radius */
  background: url('../assets/images/gen-rx-bg.gif') no-repeat center center;
  background-size: cover; /* Ensure the GIF scales properly */
  opacity: 0.1; /* Reduce the opacity for the background */
  z-index: -2; /* Place the background behind the border */
}

.backgroundContainer > * {
  position: relative;
  z-index: 1; /* Keep the content above all pseudo-elements */
}


.gradientSkeleton {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-bottom: 24px;
}

.genRxLoadingText {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
  color: #45455199 !important;
  margin: 30px 0px;
}

.progressBarContainer {
  width: 100%;
  max-width: 400px;
  height: 11px;
  border-radius: 6px;
  overflow: hidden;
  background: linear-gradient(to right, #e5e7eb, #f9fafb); /* Light gray gradient */
  margin-bottom: 24px;
  position: relative;
}

.progressIndicator {
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #6366f1 0%,
    #9333ea 33%,
    #f43f5e 66%,
    #fbbf24 100%
  ); /* Vibrant gradient */
  transition: width 5s linear;
}

.skeletonScreen {
  width: 100%;
  max-width: 400px;
  height: 150px;
  border-radius: 12px;
  background: linear-gradient(90deg, #f3f4f6 25%, #e5e7eb 50%, #f3f4f6 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  margin-top: 24px;
}

@keyframes skeleton-loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
