.patient-details-menu {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.ipd-editable-discharge-summary-with-readonly-elements {
  .cw__bodyInner {
    gap: 14px !important;
    display: flex;
    flex-direction: column;
  }
}

.discharge-summary-print-preview {
  padding: 18px;
  margin: 18px;
  border-radius: 12px;
  background: #F9F7FD;
  border: 1.03px solid #E2E2EA;
  display: flex;
  flex: 1;
  justify-content: center;
}