.patientDiagnosisContainer {
  padding: 24px 40px;
  background: url("../../../../assets/images/obstetric-bg.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  @media only screen and (max-width: 1200px) {
    padding: 24px 10px;
  }

  .diagnosisTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 20px;
  }
  .diagnosisItems {
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    .rowContainer {
      display: flex;
      justify-content: space-between;

      .history-badge {
        border: 1px solid #e2e2ea;
        background-color: white;
        border-radius: 10px;
        height: 38px;
        width: max-content;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;

        .spanStyle {
          padding: 8px 10px 8px 0;
          margin-left: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
        }

        .datePickerStyle .ant-picker-input > input {
          width: 82px !important;
        }

        .diagnosisSelect {
          color: transparent;
          background-color: transparent;

          /* Remove background color in selection box */
          .dropdown-toggle {
            background-color: transparent !important;
            border-color: transparent !important;
            color: #000 !important;
          }

          .dropdown-toggle::after {
            display: none;
          }

          .dropdown-menu {
            font-size: 14px;
            font-weight: 400;
            padding: 0px;
          }

          .dropdown-item {
            padding: 10px 12px;
          }

          .dropdown-menu .dropdown-item:active,
          .dropdown-menu .dropdown-item:hover {
            background-color: #e9ecef !important; /* Light gray background on hover */
            color: #000 !important;
          }

          &.inputborder .ant-select-selector {
            border: none !important;
            border-radius: 10px;
          }

          .ant-select-arrow {
            left: 85px;
          }

          .ant-select-clear {
            left: 85px;
          }

          span {
            margin-left: -10px;
          }
          .iconStyle {
            display: inline-block;
            transform: rotate(270deg);
            margin-left: 5px;
          }
        }

        .maritalStatusSelect {
          span {
            padding-right: 0px !important;
          }
          .ant-select-arrow {
            left: 85px;
          }

          .ant-select-clear {
            left: 105px;
          }
        }

        .timeInterval {
          background-color: #fafafb;
          margin-left: 0px;
          padding-left: 10px;
          height: 36px;
        }
        .timeIntervalValue {
          border: solid 1px #eaecf0;
          border-top: none;
          border-bottom: none;
          padding: 8px 10px;
          margin-left: 0px;
          height: 36px;
          width: 56px;
          text-align: center;
          border-radius: 0 !important;
        }
      }
    }
  }
}
.pastPregnancyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .diagnosisNotesStyle {
    width: 40%;
    display: flex;
    padding-right: 40px;
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 6px;

    .editStyle {
      display: flex;
      align-items: center;
      column-gap: 6px;
      cursor: pointer;
      .iconStyle {
        color: #4b4ad5;
        font-size: 18px;
      }
      .editText {
        color: #4b4ad5 !important;
        text-decoration: underline;
      }
    }
  }
}

.husbandBlood .dropdown-menu {
  margin-left: -135px !important;
  margin-top: 3px;
  width: 220px !important;
}

.bloodDropdown .dropdown-menu {
  margin-left: -30px !important;
  width: 140px !important;
}

.dropdown-item-custom {
  position: relative;
  padding: 10px 20px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #eaecf0;
    width: calc(100% - 20px);
    margin: 0 auto;
  }

  &:last-child::after {
    display: none;
  }
}
