.our-scale {
  width: 100vw;
  .our-scale-title {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-family: "Playfair Display";
    font-size: 3.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.375rem;
    background: linear-gradient(90deg, #4443C5 -15.86%, #A41AF0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .sparkle {
      font-size: 3rem;
      width: 3rem;
      background-color: #fff;
      margin-left: 1rem;
      margin-top: 1.5rem;
      height: 3rem;
    }
  }

  .our-scale-container {
    width: 100vw;
    padding: 4rem 0rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .scale-stats-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }

    .stat-card {
      display: flex;
      align-items: center;
      padding-top: 1rem;
      padding-right: 1rem;
      gap: 1rem;
      transition: transform 0.3s ease;
      border-radius: 2rem;
      border: 1px solid #F2E2FF;
      overflow: hidden;
      background: linear-gradient(282deg, rgba(233, 204, 255, 0.00) -0.04%, rgba(242, 225, 255, 0.80) 130.11%);

      &:hover {
        transform: translateY(-5px);
      }

      .stat-icon {
        font-size: 2rem;
        opacity: 0.7;
        position: relative;
        bottom: -4%;
      }

      .stat-content {
        text-align: left;

        .stat-number {
          color: #64388D;
          font-family: Poppins;
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 2.07194rem;
          /* 118.397% */
        }

        .stat-description {
          color: #64388D !important;
          font-family: Poppins !important;
          font-size: 1.25rem !important;
          font-weight: 400 !important;
          line-height: 2.07194rem !important;
        }
      }
    }
  }
}