.purple{
  background-color: rgba(75, 74, 213, 0.1);
}

.bg-custom-purple {
  background-color: rgba(75, 74, 213, 0.1);
}

.border-custom-purple {
  border-color: #4B4AD5 !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: #A2A2A8 !important;
  font-weight: normal;
}

.ant-select-single {
  height: 44px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  // border: 1px solid #EAECF0;
  box-shadow: none !important;
}

.border-purple {
  border-color: #4B4AD5 !important;
}

.ant-btn >span {
  color: #4B4AD5 !important;
}

.ant-picker-dropdown .ant-picker-date-panel {
  width: 430px;
  height: 382px;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-content {
  width: 400px;
  height: 320px;
}

.ant-picker-footer {
  display: none;
}

// .custom-picker-dropdown .custom-picker-date-panel {
//   width: 430px !important;
//   height: 382px !important;

//   .custom-picker-content {
//     width: 400px !important;
//     height: 320px !important;
//   }
// }

.custom-picker-dropdown .custom-picker-date-panel {
  width: 430px;
  height: 382px;
}

.custom-picker-dropdown .custom-picker-date-panel .custom-picker-content {
  width: 400px;
  height: 320px;
}
